<nz-card style="width: 250px"
         [style.background-color]="config.backgroundColor"
         [nzActions]="[actionSelectTemplate, actionEditTemplate, actionRemoveTemplate]"
         [nzCover]="coverTemplate">
  <nz-card-meta
    [nzTitle]="titleTemplate"
    [nzDescription]="'Max HP: ' + character.maxHp"
  ></nz-card-meta>
</nz-card>

<ng-template #actionSelectTemplate>
  <span nz-icon nzType="select" (click)="characterSelected.emit()"></span>
</ng-template>

<ng-template #actionEditTemplate>
  <span nz-icon nzType="edit" (click)="editCharacter(character)"></span>
</ng-template>

<ng-template #actionRemoveTemplate>
  <span nz-icon nzType="delete"
        nz-popconfirm
        nzPopconfirmTitle="Are you sure that you wish to delete this character?"
        nzPopconfirmPlacement="bottom"
        nzOkText="Yes"
        nzCancelText="No"
        (nzOnConfirm)="characterService.removeCharacter(character.id)"></span>
</ng-template>

<ng-template #titleTemplate>
  <div (click)="characterClicked.emit(character.name)">
    {{ character.name | formatName: ";" }}
  </div>
</ng-template>

<ng-template #coverTemplate>
  <img [alt]="character.characterClass" [src]="character.image"/>
</ng-template>

<!--
<ng-container *ngTemplateOutlet="testTemplate">
</ng-container>
-->
